.slds-card_boundary {
    --sds-c-card-color-background:  var(--lwc-colorBackground);
}
.slds-card_boundary .cardHeader {
    /*background-color: rgb(150, 150, 150) !important;*/
    --sds-c-card-color-background:  var(--lwc-colorBackground);

    /*--card-card-spacing-block-start:10px;
    --card-card-spacing-block-end: 10px;
    --card-card-spacing-inline-start: 15px;
    --card-card-spacing-inline-end: 15px;
    --card-header-spacing-block-start: 20px;
    --card-header-spacing-block-end: 20px;
    --card-header-spacing-inline-start: 25px;
    --card-header-spacing-inline-end: 25px;*/
    --sds-c-card-body-spacing-block-start: 0px;
    --sds-c-card-body-spacing-block-end: 0px;
    /*--sds-c-card-body-spacing-inline-start: 5px;
    --sds-c-card-body-spacing-inline-end: 5px;*/
    --sds-c-card-footer-spacing-block-start: 0px;
    --sds-c-card-footer-spacing-block-end: 0px;
    /*--sds-c-card-footer-spacing-inline-start: 1px;
    --sds-c-card-footer-spacing-inline-end: 1px;*/
    --sds-c-card-footer-text-align: left;
}
.slds-card_boundary .headerActions {
    display: flex;
    align-items: center;
    justify-content: center;
    /*max-width: 50%;*/
}
.slds-card_boundary .cardContent {
    background-color:  var(--lwc-colorBackgroundAlt);
    --sds-c-card-color-background:  var(--lwc-colorBackgroundAlt);
    width: 100%;
    /*border-bottom-left: var(--slds-c-card-radius-border, var(--sds-c-card-radius-border, var(--lwc-borderRadiusMedium, 0.25rem)));*/
    border-bottom-left-radius: var(--slds-c-card-radius-border, var(--sds-c-card-radius-border, var(--lwc-borderRadiusMedium, 0.25rem)));
    border-bottom-right-radius: var(--slds-c-card-radius-border, var(--sds-c-card-radius-border, var(--lwc-borderRadiusMedium, 0.25rem)));
    /*margin-bottom: var(--slds-c-card-radius-border, var(--sds-c-card-radius-border, var(--lwc-borderRadiusMedium, 0.25rem)));*/
    /*min-height: 150px !important;*/
    /*padding-bottom: var(--lwc-varSpacingVerticalMedium);*/
}
.slds-card_boundary .footerContent, .debugInfo  {
    /*background-color:  var(--lwc-colorBackgroundAlt);
    --sds-c-card-color-background:  var(--lwc-colorBackgroundAlt);*/
    padding-top: var(--lwc-varSpacingVerticalMedium);
    padding-bottom: var(--lwc-varSpacingVerticalMedium);
    padding-left: var(--lwc-varSpacingVerticalMedium);
    padding-right: var(--lwc-varSpacingVerticalMedium);
    /*text-align:left;*/
    width:100%;
}
.debugInfo {
    text-align:left;
}
.slds-dl_horizontal__detail {
    overflow-wrap: break-word;
    word-break: break-word;
}
.actionFooter {
    padding-top: var(--lwc-varSpacingVerticalXSmall);
    padding-bottom: var(--lwc-varSpacingVerticalXSmall);
    padding-left: var(--lwc-varSpacingVerticalXxSmall);
    padding-right: var(--lwc-varSpacingVerticalXxSmall);
    width:100%;
    background-color:  var(--lwc-colorBackgroundAlt);
    --sds-c-card-color-background:  var(--lwc-colorBackgroundAlt);
}
.filterPopup {
    max-width: calc(100% - 46px) !important; 
    /*min-width: 60% !important;*/
    background: var(--lwc-brandDark);
}
.filterInput {
    --sds-c-input-radius-border : 0px;
    --slds-c-input-radius-border: 0px;
    --slds-s-input-radius-border: 0px;
    --slds-g-spacing-1: 0px;
    min-width: calc(50% + 30px) !important;
    width:auto !important;
}
.filterSelect {
    text-overflow: ellipsis !important;
    --slds-c-button-color-background: var(--slds-c-button-neutral-color-background, var(--slds-g-color-surface-container-1));
    --slds-c-button-color-border: var(--slds-c-button-neutral-color-border, var(--slds-g-color-border-2));
    --slds-c-button-color-background-hover: var(--slds-c-button-neutral-color-background-hover, var(--slds-g-color-surface-container-2, revert));
    --slds-c-button-color-border-hover: var(--slds-c-button-neutral-color-border-hover, var(--slds-g-color-border-2, revert));
}
.expandCollapse {
    --sds-c-button-color-background : transparent !important;
    --sds-c-button-line-height : 0px !important;
}
.sfpegTable {
    --slds-c-button-line-height : 1rem !important;
}
.showTopBorder {
    border-top: var(--lwc-borderWidthThin,1px) solid rgb(201, 201, 201) !important;
}