/*.slds-card_boundary .cardHeader {
    --sds-c-card-color-background:  var(--lwc-colorBackground);
    --sds-c-card-body-spacing-block-start: 0px;
    --sds-c-card-body-spacing-block-end: 0px;
    --sds-c-card-footer-spacing-block-start: 0px;
    --sds-c-card-footer-spacing-block-end: 0px;
    --sds-c-card-footer-text-align: left;
}*/