.cardHeader {
    --sds-c-card-footer-text-align: left;
}
.footerContent {
    /*background-color:  var(--lwc-colorBackgroundAlt);
    --sds-c-card-color-background:  var(--lwc-colorBackgroundAlt);*/
    padding-top: var(--lwc-varSpacingVerticalMedium);
    padding-bottom: var(--lwc-varSpacingVerticalMedium);
    padding-left: var(--lwc-varSpacingVerticalMedium);
    padding-right: var(--lwc-varSpacingVerticalMedium);
    width:100%;
}
.fieldValue {
    font-size: 0.875rem !important;
    /*font-size: var(--lwc-fontSize4, 0.875rem) !important;*/
}
/*.fieldItem {
    border-bottom: 1px solid var(--lwc-colorBorderInputDisabled);
}
.formItem {
    border-bottom: 1px solid var(--lwc-colorBorderInputDisabled);
}*/