.cardHeader {
    /*background-color: rgb(150, 150, 150) !important;*/
    --sds-c-card-color-background:  var(--lwc-colorBackground);

    /*--card-card-spacing-block-start:10px;
    --card-card-spacing-block-end: 10px;
    --card-card-spacing-inline-start: 15px;
    --card-card-spacing-inline-end: 15px;
    --card-header-spacing-block-start: 20px;
    --card-header-spacing-block-end: 20px;
    --card-header-spacing-inline-start: 25px;
    --card-header-spacing-inline-end: 25px;*/
    --sds-c-card-body-spacing-block-start: 0px;
    --sds-c-card-body-spacing-block-end: 0px;
    /*--sds-c-card-body-spacing-inline-start: 5px;
    --sds-c-card-body-spacing-inline-end: 5px;*/
    --sds-c-card-footer-spacing-block-start: 0px;
    --sds-c-card-footer-spacing-block-end: 0px;
    /*--sds-c-card-footer-spacing-inline-start: 1px;
    --sds-c-card-footer-spacing-inline-end: 1px;*/
    --sds-c-card-footer-text-align: left;
}
.headerActions {
    display: flex;
    align-items: center;
    justify-content: center;
    /*max-width: 50%;*/
}
.cardContent {
    background-color:  var(--lwc-colorBackgroundAlt);
    --sds-c-card-color-background:  var(--lwc-colorBackgroundAlt);
    width: 100%;
    /*min-height: 150px !important;*/
    /*padding-bottom: var(--lwc-varSpacingVerticalMedium);*/
}
.footerContent {
    /*background-color:  var(--lwc-colorBackgroundAlt);
    --sds-c-card-color-background:  var(--lwc-colorBackgroundAlt);*/
    padding-top: var(--lwc-varSpacingVerticalMedium);
    padding-bottom: var(--lwc-varSpacingVerticalMedium);
    padding-left: var(--lwc-varSpacingVerticalMedium);
    padding-right: var(--lwc-varSpacingVerticalMedium);
    /*text-align:left;*/
    width:100%;
}
.filterPopup {
    max-width: calc(100% - 46px) !important; 
    /*min-width: 60% !important;*/
    background: var(--lwc-brandDark);
}
.filterInput {
    --sds-c-input-radius-border : 0px;
    min-width: calc(50% + 30px) !important;
    width:auto !important;
    /*display: inline-block;*/
}
.filterSelect {
    /*overflow-wrap: break-word;*/
    text-overflow: ellipsis !important;
    /*background-color: white !important;
    overflow-x: hidden !important;
    white-space: nowrap !important;*/
    /*--slds-c-button-line-height : 5px !important;
    padding: 1.875rem !important;*/
    /*max-width: 25% !important;
    text-overflow: ellipsis;
    overflow-wrap: break-word;*/
    /*--slds-c-button-line-height : 5px !important;*/
    /*min-height: 30px !important;*/
}
.expandCollapse {
    --sds-c-button-color-background : transparent !important;
    --sds-c-button-line-height : 0px !important;
}
.sfpegTable {
    --slds-c-button-line-height : 1rem !important;
}