.backgroundContainer {
    width: calc(100vw + 1rem);
    height: 100vh;
    position: fixed;
    bottom: 0px;
    top: unset;
    left: -1rem;
}
.popupContainer {
    /*width: 50vw;*/
    height: 100vh;
    /*position: fixed;
    bottom: 0px;
    top: unset;
    left: 25vw;*/
}
.popupForm {
    min-height: 33vh !important; /* to handle picklist fields expanding below the footer ! */
}
.fullWidth {
    width:100% !important;
}
.tableLabel {
    margin-bottom: 0px !important;
    padding-top: 1px !important;
    padding-right: 0px !important;
    /*width: 100% !important;*/
}
.formField {
    margin-bottom: var(--lwc-spacingSmall) !important;
}